<style>
    #form {
        height: 9%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 10px;
        background-color: rgb(249, 250, 253);
        margin-bottom: 0;
    }

    #form input {
        width: 70%;
        height: 33px;
        outline: none;
        border: 1px solid #ccc;
        text-indent: 26px;
        background: url("./img/fdj.gif") no-repeat 5px 6px;
        background-size: 20px 20px;
    }

    #form a {
        color: rgb(117, 117, 117);
    }

    #rem {
        height: 100.5%;
        width: 100%;
        background: #efefef;
        padding: 40px;
    }

    #rem p {
        color: rgb(117, 117, 117);
    }

    #rem a {
        display: inline-block;
        background: #fff;
        border-radius: 2em;
        padding: 5px 10px;
        text-align: center;
        margin: 10px;
        color: rgb(117, 117, 117);
    }
</style>

<p id="form">
    <a href="" ng-click="back()"><i class="glyphicon glyphicon-menu-left"></i></a>
    <input type="text" placeholder="请输入商品名称">
    <a href="">搜 索</a>
</p>

<div id="rem">
    <p>热门搜索 :</p>
    <a href="">芒果</a>
    <a href="">水果</a>
    <a href="">火龙果</a>
    <a href="">三七女人节</a>
    <a href="">香烟</a>
    <a href="">酒</a>
    <a href="">燕塘</a>
    <a href="">奇异果</a>
    <a href="">奶</a>
</div>